.flex-container {
  display:flex;
  flex-wrap: wrap;
}

.workspace {
  border: solid;
  border-radius: 5px;
  border-color: #222222;
  border-width: thin;
  padding: 10px;
  background-color: #ffffff;
  width: 40%;
  min-width: 300px;
  max-height: 70vh;
  overflow: scroll;
}

.workspace-notes {
  background-color: white;
  font-family: monospace;
  padding: 5px;
  border: solid;
  border-width: thin;
  border-color: #aaaaaa;
  border-radius: 5px;
  max-height: 60vh;
  overflow: scroll;
  transition: border-color 0.5s;
}

.source-list {
  padding: 10px;
  margin: 3px;
  border: solid;
  border-width: thin;
  border-color: #b8b8b8;
  border-radius: 5px;
}

.button-morpheme {
  padding: 5px;
  min-width: 100px;
  background-color: #66929f;
  color: white;
}

.sentence {
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
  background-color: #b8b8b8;
}


/*
Deprecated code...

#sentence-button-color-0 {
  background-color: #00ffd7;
}

#sentence-button-color-1 {
  background-color: #a8ff00;
}

#sentence-button-color-0:hover {
  background-color: #aaaaaa;
}

#sentence-button-color-1:hover {
  background-color: #aaaaaa;
}
*/
